body {
	background-color: #CCFFFF;
	z-index: -1;
}

#page {
	width: 970px;
	margin: 0 auto;
}

#header {
	position: absolute;
	background-image: url('./image/header_bg.jpg');
	background-size: cover;
	width: 970px;
	height: 200px;
	top: 5px;
	-moz-box-shadow: -1px -1px 3px 0px #333333	;
    -webkit-box-shadow: -1px -1px 3px 0px #333333;
    box-shadow: -1px -1px 3px 0px #333333;
	display: inline-block;
	z-index: 0;
}

#caption {
	position: absolute;
	top: 3px;
	right: 0px;
	height: 35px;
	width: 12%;
	
}

#caption_name {
	position: absolute;
	right: 5px;
	bottom: 3px;
	font-family: Arial;
	font-size: 16.5px;
	color: #FFFFFF;
	text-decoration: none;
}

#white_line {
	position: absolute;
	background-color: white;
	bottom: 0;
	right: 3px;
	height: 2px;
	width: 97%;
	z-index:2;
}

#header_container_box {
	position: absolute;
	background-color: #00CD66;
	-moz-box-shadow: 0px -2px 3px 0px #111111;
    -webkit-box-shadow: 0px -2px 3px 0px #111111;
    box-shadow: 0px -2px 3px 0px #111111;
	bottom: 0;
	width: 100%;
	height: 35px;
}

#a_container {
	text-align: center;
	line-height: 35px;
}

#header_container_box a {
	color: #FFFFFF;
	font-family: consolas;
	font-size: 20px;
	text-decoration: none;
}

#main {
	position: absolute;
	background-color: white;
	width: 965px;
	height: 1080px;
	top: 210px;
	padding-left: 1px;
	display: inline-block;
	border-left-color: white;
	border-left-style: solid;
	border-left-width: 4px;
	-moz-box-shadow: -1px -1px 3px 0px #333333	;
    -webkit-box-shadow: -1px -1px 3px 0px #333333;
    box-shadow: -1px -1px 3px 0px #333333;
	z-index: 0;
}

#information_1_image_container {
	text-align: center;
	top: 10px;
}

#information_1 {
	height: 90px;
	padding: 15px;
	-moz-box-shadow: -1px -1px 3px 0px #333333	;
    -webkit-box-shadow: -1px -1px 3px 0px #333333;
    box-shadow: -1px -1px 3px 0px #333333;
}

#information_1_text {
	font-family: Arial;
	text-align: center;
	font-size: 13px;
}

#information_2 {
	height: 150px;
	margin-top: 5px;
	-moz-box-shadow: -1px -1px 3px 0px #333333	;
    -webkit-box-shadow: -1px -1px 3px 0px #333333;
    box-shadow: -1px -1px 3px 0px #333333;
}

#main_container { 
	background-color: white;
	width: 748px;
	margin: 0 auto;
	padding: 0px 5px 5px 5px;
	-moz-box-shadow: -1px -1px 3px 0px #333333	;
    -webkit-box-shadow: -1px -1px 3px 0px #333333;
    box-shadow: -1px -1px 3px 0px #333333;
}

#TKB_Source {
	position: relative;
	top: 5px;
	left: 75%;
	color: #4F4F4F;
	font-style: italic;
	text-decoration: none;
}
